body{
    margin: 0;
    background-color: rgb(19, 3, 85);
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

@font-face {
    src: url(digital-7.ttf);
    font-family: 'Digital';
}

.sub-container{
    text-align: center;
}

.heading{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 30px 0;
}

.score{
    display: inline-block;
    font-family: 'Digital';
    font-size: 150px;
    color: magenta;
    background-color: black;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn-add{
    font-family: 'Digital';
    background-color: transparent;
    border: white 1px solid;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    margin: 5px;
    padding: 8px 15px
}

#btn-new-game{
    margin-top: 30px;
    border-radius: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    background: green;
    color: white;
}

.leader{
    text-shadow: 0 0 15px yellow;
}